.light {
  --primary-color: #4361ee;
  --secondary-color: #3f37c9;
  --light-color: #f8f9fa;
  --dark-color: #212529;
  --border-radius: 12px;
  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

:root {
  --primary-color: #4cc9f0;
  --secondary-color: #4361ee;
  --light-color: #212529;
  --dark-color: #f8f9fa;
  --box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
  --transition: all 0.3s ease;
}

body {
  background: var(--light-color);
  color: var(--dark-color);
}

.header-layout {
  background: var(--primary-color);
  padding: 3rem 2rem;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.header-layout h3 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.header-layout p {
  font-weight: 400;
  font-size: 1.3rem;
}

.grid-controls{
  max-width: 1200px;
  margin: 2rem;
  display: flex;
}

.toggle {
  background: var(--primary-color);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 0.5rem;
  border-radius: 12px;
  transition: var(--transition);
  box-shadow: var(--box-shadow);
  cursor: pointer;
} 

.toggle:hover {
  transform: translateY(-2px);
  background: var(--secondary-color);
}

.main-content {
  max-width: 1200px;
  padding: 2rem;
}

.product-container{
  margin-left: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.produk-main {
  padding: 2rem 2rem;
  background: var(--light-color);
  color: var(--dark-color);
  border-radius: 12px;
  transition: var(--transition);
  box-shadow: var(--box-shadow);
}

.produk-main:hover {
  transform: translateY(-3px);
}

.produk-main h3 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.produk-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produk-desc p {
  font-size: 1rem;
  font-weight: 400;
}

.produk-desc span {
  background: var(--primary-color);
  padding: 0.2rem;
  color: black;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .header-layout h3 {
    font-size: 2rem;
  }

  .header-layout p {
    font-size: 1rem;
  }

  .grid-controls {
    justify-content: center;
  }

  .product-container {
    grid-template-columns: 1fr;
    margin-left: 0;
  }
}